

@font-face {
  font-family: JetBrainsMono;
  src: url("../assets/font/JetBrainsMono/webfonts/JetBrainsMono-Light.woff2") format("woff2");

  font-style: normal;
  font-weight: lighter;
}

@font-face {
  font-family: JetBrainsMono;
  src: url("../assets/font/JetBrainsMono/webfonts/JetBrainsMono-LightItalic.woff2") format("woff2");

  font-style: italic;
  font-weight: lighter;
}

@font-face {
  font-family: JetBrainsMono;
  src: url("../assets/font/JetBrainsMono/webfonts/JetBrainsMono-Regular.woff2") format("woff2");

  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: JetBrainsMono;
  src: url("../assets/font/JetBrainsMono/webfonts/JetBrainsMono-Italic.woff2") format("woff2");

  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: JetBrainsMono;
  src: url("../assets/font/JetBrainsMono/webfonts/JetBrainsMono-Bold.woff2") format("woff2");

  font-style: normal;
  font-weight: bold;
}


@font-face {
  font-family: JetBrainsMono;
  src: url("../assets/font/JetBrainsMono/webfonts/JetBrainsMono-BoldItalic.woff2") format("woff2");

  font-style: italic;
  font-weight: bold;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 100%;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #C22250; 
  border-radius: 10px;

}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #C22250; 
  opacity: 1;
}

::-webkit-scrollbar-corner{
  background-color: transparent
}


html{
  font-family: 'JetBrainsMono';
  font-size: 12px;
  font-style: normal;
}

body {
  background-color: #fafafa;
  border-color: white;
  font-size: 25px;
  display: flex;
  z-index: -15;
  overflow: hidden;
}


.fog{

  position: fixed;
  width: 100vw;
  height: 10rem;
  background-image: linear-gradient(180deg,#121212, rgba(0,0,0,0));

}

.fog2{

  position: fixed;
  width: 100vw;
  height: 20vh;
  bottom: -1vh;
  background-image: linear-gradient(0deg,#121212, rgba(0,0,0,0));

}


.dark-mode {
  background-color: #121212;
  color: #fafafa;
}

.theme{
  background-color: #C22250 ;
  color: #121212 ;
}



.theme{
  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1/1;
  border: transparent;
  border-radius: 20%;
  color: inherit;
  background-color: inherit;

}

.theme ion-icon{
  font-size: 2rem;
}




nav{
  height: 100vh;
  width: 5rem;

  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  z-index: 10;
  position: fixed;
  background-color: #121212;
}


nav ion-icon{
  font-size: 2.5rem;
  color: white;

  padding: 0.5rem;
}

nav>ion-icon{
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
--ionicon-stroke-width: 2rem;
  color: #1C1F2B;
  background-color: #C22250;

}


nav .wrapper{
  width: 100%;
  flex-grow: 3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;

  }



figure{
  width: 24rem;
  height: 100vh;

  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: 4.9rem;
  z-index: 10;
  overflow: hidden;

  
}

figure::-webkit-scrollbar {
  width: 0px;
}

.selected{
  color: #C22250;
}

.avatar{
  width: 250%;
  position: absolute;
  left: -75%;
  bottom: -5vw;
  overflow: none;
  
}

.bg-avatar{
  position: absolute;
  height: 100vh;
  left: -100%;
  bottom: 0%;
  overflow: none;


}

.hover{
  box-shadow: 0px 0.2rem 5px 0.5rem rgba(0,0,0,0.3);
	transform: scale(1);
	transition: 0.5s ease-in-out;
  overflow: none;
}
.hover:hover{
  box-shadow: 0px 0.2rem 5px 1.5rem rgba(0,0,0,0.3);
	transform: scale(1.05);
  overflow: none;
}

.hover .avatar{
	transform: scale(1);
	transition: 0.5s ease-in-out;
  overflow: none;
}
.hover:hover .avatar{

	transform: scale(0.95);
  overflow: none;
}

.hover .bg-avatar{
	transform: scale(1);
	transition: 0.5s ease-in-out;
  overflow: none;
}
.hover:hover .bg-avatar{

	transform: scale(1.05);
  overflow: none;
}




main{
  width: calc(100vw - 29rem);
  height: 100vh;
  padding: 5rem 1rem;
  position: fixed;
  right: 0rem;
  z-index: 0;

  display: flex;
  flex-direction: column;
  gap: 5rem;

  overflow: scroll;
  

}

section:first-of-type{
  padding-top: 1rem;
}

section:last-of-type{
  padding-bottom: 10rem;
}




main h1{
  font-size: 6rem;
  line-height: 4rem;
  padding: 1.5rem 0rem;
}

Main h2{
  font-size: 1.5rem;
  line-height: 1.8rem;
  padding: 2rem 0rem;
  font-weight: lighter;
}

Main span{
 color: #C22250;

}

p{
  padding-block: 0.8rem;
  font-size: 1rem;
  text-align: justify;
  text-justify: inter-word;
}

.hidden{
  display: none;
}

.key-skills h2::after{
content: "";
display: block;
width: 100%;
height: 0.2rem;
background-color: #C22250;
}

.key-skills h1{
  display: flex;
}

.just-icons{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.just-icons>div{
  background-color: #C22250;
  display: flex;
  height: 4.5rem;
  width: 5rem;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.just-icons>div>div{
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 5;
}

.just-icons ion-icon{
  font-size: 4rem;
}

.just-icons p{

  position: absolute;

  
}

.app-name{
  top: 3rem;
  position: absolute;
  opacity: 0;
  transition: 0.4s ease-in-out;
}


.just-icons > div > div:hover ~ .app-name{
  top: 3.5rem;
  position: absolute;
  opacity: 1;
  transition: 0.4s ease-in-out;
}


@media screen and (min-width: 65rem){

  main{
    width: 60rem;
    height: 100%;
      
  

    left: calc(50vw - 16rem);

    background-color: #121212;

  }


  nav{
    height: 100vh;
    width: 5rem;
  
    background-color: #121212;;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  
    position: fixed;
    left: calc(50vw - 45rem);
  }

  figure{
    width: 24rem;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: calc(50vw - 40.1rem);
    z-index: 10;
  
    
  }

  .bg-1000w{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -200;
    background-color: black;
  }

}


@media screen and (max-width: 900px){

figure{
  display: none;
}


main{
  left: 5rem;
  width: Calc(100vw - 5rem);
}

}